#  Copyright (C) 2018 ATOS Spain
 
#  This file is part of VICINITY.
 
#  VICINITY is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
 
#  VICINITY is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
 
#  You should have received a copy of the GNU General Public License
#  along with VICINITY.  If not, see <http://www.gnu.org/licenses/>

# These are just mere samples
# Do not forget that configuring them is a mandatory step to make this work


# VICINITY NODE information
VICINITY_AGENT_ID="AGENT_ID"  
VICINITY_AGENT_PASSWORD="AGENT_PASSWORD"
VICINITY_GATEWAY_API_ID="username"
VICINITY_GATEWAY_API_PASSWORD="pwd"

# Variables
# LORAWAN_APP_SERVER --> "LoRaServer" or "TTN"
# LORAWAN_APPID --> Name of the application
# LORAWAN_PSW --> Password
# LORAWAN_MQTT_URL --> Endpoint of the MQTT Broker   
# LORAWAN_MQTT_PORT --> Port (by default, 1883)

# For LoRaServer
LORAWAN_APP_SERVER="LoRaServer" 
LORAWAN_APPID="app_name"
LORAWAN_PSW="<LoRaServer password>"
LORAWAN_MQTT_URL="<MQTT Broker URL>"   
LORAWAN_MQTT_PORT=1883 

# For TTN 
LORAWAN_APP_SERVER="TTN"  # Current options handled ("TTN", "LoRaServer")
LORAWAN_APPID="app_name"
LORAWAN_PSW="ttn-account-v2.----"
LORAWAN_URL="eu.thethings.network"   
LORAWAN_MQTT_PORT=1883 
