#
#######  Pip module requirements  #######
####### for the AGILE DBus Server #######
#
paho-mqtt
pydash
pytz
python-dotenv
flask
requests
queuelib
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability